In [1]:
1.#What is List? How will you reverse a list?
''' ans -  list are used to store multiple items in single variable.
             The reverse() method is a built-in method that reverse the list in place. '''
a=[67,867,65,77,23,54,67,88,23]
a.reverse()
print(a)

[23, 88, 67, 54, 23, 77, 65, 867, 67]

In [2]:
2.#How will you remove last object from a list? Suppose list1 is [2, 33, 222, 14, and 25], what is list1 [-1]? 
abc=[66,7,45,67,83]
print(abc)
abc.pop(-1)
print(abc)

[66, 7, 45, 67, 83]
[66, 7, 45, 67]

In [3]:
3.#Differentiate between append () and extend () methods?
'''     append()                                                                 extend()
> This is used for add new list in other list   > This is used for add element in other list
    (nested list)                                               
'''
#append()              
a1=[28,66,46,87,34,24,23,76]
b=['rishi','shyam']
a1.append(b)
print(a1)
#extend()
yy=[54,5,34,46,23,87,45]
xx=['ashu','jemin']
yy.extend(xx)
print(yy)

[28, 66, 46, 87, 34, 24, 23, 76, ['rishi', 'shyam']]
[54, 5, 34, 46, 23, 87, 45, 'ashu', 'jemin']

In [5]:
'''4.Write a Python function to get the largest number, smallest num and sum
of all from a list. '''
rr= []
n= int(input('How many numbers: '))
for n1 in range(n):
    num = int(input('Enter number '))
    rr.append(num)
print("Maximum element in the list is :", max(rr))
print("Minimum element in the list is :", min(rr))
print(" sum element in the list is :", sum(rr))

How many numbers: 9
Enter number 6
Enter number 3
Enter number 5
Enter number 8
Enter number 4
Enter number 2
Enter number 7
Enter number 3
Enter number 5
Maximum element in the list is : 8
Minimum element in the list is : 2
 sum element in the list is : 43

In [6]:
5.#How will you compare two lists? 
l = [5656,34,54,57,67,454,32,]  
l1 = [34,45,576,343,465,34]  
if l== l1:  
    print("The list1 and list2 are equal")  
else:  
    print("The list1 and list2 are not equal")

The list1 and list2 are not equal

In [7]:
'''6.Write a Python program to count the number of strings where the string
length is 2 or more and the first and last character are same from a given
list of strings. '''
l=["ayush","shxs","6555","xhh"]
yy = 0
for a in l:
	if len(a) >= 2 and a[0] == a[-1]:
	   yy+= 1
print(yy)

1

In [8]:
7.#Write a Python program to remove duplicates from a list?
list=[4,332,23,33,44,33,44,53,46,3,2,4,5,5]
newlist=[]
for y in list:
    if y not in newlist:
        newlist.append(y)
    else:
        pass
d=newlist
print(d)

[4, 332, 23, 33, 44, 53, 46, 3, 2, 5]

In [9]:
8.#Write a Python program to check a list is empty or not?
a = [4,5,3,2,1]     #using not operator
if not a:
  print("List is empty")
else:
    print("list is not empty")
#using len()

l = []

# Checking whether the list size is equal to 0
if len(l) == 0:
   print('Empty list')
else:
   print('Not Empty list')

list is not empty
Empty list

In [10]:
9.#Write a Python function that takes two lists and returns true if they have at least one common member?
l1=[5,434,4455,5656,56,54,]
l2=[6,34,56,54,434]
r=False
for y in l1:
    for t in l2:
        if y==t:
            r=True
print(r)

True

In [11]:
11.#Write a Python function that takes a list and returns a new list with unique elements of the first list?
l1=[1,5,7,46,5,6,4,4,]
tt=[]
for y in l1:
    if y not in tt:
        tt.append(y)
    else:
        pass
print(tt)

[1, 5, 7, 46, 6, 4]

In [13]:
12.#Write a Python program to convert a list of characters into a string?
l1= ['h', 'a', 's', 'u']
s =''.join(l1)
print(s)

hasu

In [14]:
13.#Write a Python program to select an item randomly from a list?
import random
colorlist= ['white', 'purple', 'pink', 'White', 'Black']
print(random.choice(colorlist))

White

In [15]:
14.#Write a Python program to find the second smallest number in a list?
l1=[15, 455, 234, 431, 23, 134, 24, 26, 84]
len1 = len(l1)
l1.sort()
print("Largest element is:", l1[len1-1])
print("Smallest element is:", l1[0])
print("Second Largest element is:", l1[len1-2])
print("Second Smallest element is:", l1[1])

Largest element is: 455
Smallest element is: 15
Second Largest element is: 431
Second Smallest element is: 23

In [16]:
15.#Write a Python program to get unique values from a list?
l1=[1,3,56,56,53,543,354,4,4,3,46,67,86,3,33,3,3,3,]
n=[]
for t in l1:
    if t not in n:
        n.append(t)
print(n)

[1, 3, 56, 53, 543, 354, 4, 46, 67, 86, 33]

In [17]:
16.#Write a Python program to check whether a list contains a sub list?
list1=[1,2,[3,4,5],6,7]
list2=[3,4,5]
if list2 in list1:
    print("This is sub list")
else:
    print("Not a sub list")

This is sub list

In [18]:
17.#Write a Python program to split a list into different variables?
color = [["Black", "#000000", "rgb(0, 0, 0)"], ["Red", "#FF0000", "rgb(255, 0, 0)"],
         ["orange", "#FFFF00", "rgb(255, 255, 0)"], ["pink", "#FFFF00", "rgb(255, 255, 0)"]]
var1, var2, var3,var4 = color
print(var1)
print(var2)
print(var3)
print(var4)

['Black', '#000000', 'rgb(0, 0, 0)']
['Red', '#FF0000', 'rgb(255, 0, 0)']
['orange', '#FFFF00', 'rgb(255, 255, 0)']
['pink', '#FFFF00', 'rgb(255, 255, 0)']

In [ ]:
18.#What is tuple? Difference between list and tuple?
''' Ans:- Tuple is represented by ( ) if only one element in tuple so after
            mention comma, then it is define tuple
            length of tuple is fixed and immutable. 
            length of list is not fixed and mutable.
            '''

In [20]:
19.#Write a Python program to create a tuple with different data types?
tup=('hasmukh',True,56.4,6)
print(tup)

('hasmukh', True, 56.4, 6)

In [21]:
20.#Write a Python program to create a tuple with numbers?
tup=(0,1,2,3,4,5,6,7)
print(tup)

(0, 1, 2, 3, 4, 5, 6, 7)

In [22]:
21.#Write a Python program to convert a tuple to a string?
def tuple_to_string(t):
    # Convert each element of the tuple to a string
    string_tuple = [str(element) for element in t]
    
    # Join the elements together into a single string
    result = ''.join(string_tuple)
    
    return result

# Example usage
my_tuple = (1, 2, 3, 4, 5)
result_string = tuple_to_string(my_tuple)
print("Tuple converted to string:", result_string)

Tuple converted to string: 12345

In [24]:
22.#Write a Python program to check whether an element exists within a tuple?
tup=("hasu",6,5,4,3,2,1,2,34)
print("hasu" in tup)
print(2 in tup)
print(8 in tup)

True
True
False

In [25]:
23.#Write a Python program to find the length of a tuple? 
tup=("vraj",5,6,4,3,2,12,3,4,4,5,6,6,7,7,8,8,8)
print(len(tup))

18

In [26]:
24.#Write a Python program to convert a list to a tuple?
l=[47,76,4,56,6,75,6,7,5,7,]
tup=tuple(l)
print(tup)

(47, 76, 4, 56, 6, 75, 6, 7, 5, 7)

In [27]:
25.#Write a Python program to reverse a tuple?
tup=(8,5,"ttt",8,6,"kd")
print(tup)
print(tup[-1:0:-1])

(8, 5, 'ttt', 8, 6, 'kd')
('kd', 6, 8, 'ttt', 5)

In [28]:
26.#Write a Python program to replace last value of tuples in a list? 
l1 = [(1, 2, 6)]
print([replace[:-1] + ("yyyy",) for replace in l1] )

[(1, 2, 'yyyy')]

In [29]:
27.#Write a Python program to find the repeated items of a tuple?
y = (5,6,7,6,5,6,5,4,4,5,6,6)
print(y)
count = y.count(5) #check 5 is how many times repeated in tuple
print(count)

(5, 6, 7, 6, 5, 6, 5, 4, 4, 5, 6, 6)
4

In [ ]:
28.#Write a Python program to remove an empty tuple(s) from a list of tuples?
def remove(tuples):
    for i in tuples:
        if(i==()):
            tuples.remove(i)
    return tuples
tuples = [(), ('hari','15','8'), (), ('syam', 'radha'),('krishna', '', '45'), ('',''),()]
print(Remove(tuples))

In [ ]:
29.# Write a Python program to unzip a list of tuples into individual lists?
l = [(1,2), (3,4), (8,4)] # list of tuples 
print(list(zip(*l))) # Zip and individual lists

In [31]:
30.#Write a Python program to convert a list of tuples into a dictionary?
#first method
tuple_dic = [("raj", 15), ("krish", 19), ("yash", 54),("vraj", 88)]
d1={}
d2 = dict(tuple_dic)
print(d2)

{'raj': 15, 'krish': 19, 'yash': 54, 'vraj': 88}

In [32]:
31.#How will you create a dictionary using tuples in python?
tup1=(("yy",44),("rr",77)) #create tuple 
d1=dict(tup1) #dict function to convert tuple to dictionary
print(d1)

{'yy': 44, 'rr': 77}

In [33]:
32.#Write a Python script to sort (ascending and descending) a dictionary by value?
my_dict = {'c': 3,
           'a': 1,
           'd': 4,
           'b': 2}
 
sorted_dict = sorted([(value, key)
for (key, value) in my_dict.items()])

print("Sorted dictionary is :")
print(sorted_dict)

Sorted dictionary is :
[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [34]:
33.Write a Python script to concatenate following dictionaries to create a new one?
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {}
for d in (dic1, dic2, dic3):
    dic4.update(d)
print(dic4)

Object `one` not found.
{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [35]:
34.#Write a Python script to check if a given key already exists in a dictionary?
dic = {'a': 100, 'b':200, 'c':300}
key = 'a'
if key in dic.keys():
    print("Present, ", end =" ")
    print("value =", dic[key])
else:
        print("Not present")

Present,  value = 100

In [36]:
35.#How Do You Traverse Through A Dictionary Object In Python?
dictionary = { 
   'desert': 'safari', 
   'year': '2024', 
   'rajasthan': 'jaisalmer', 
   'mobile': '7745866666' 
}

for keys, values in dictionary.items(): 
   print(keys ,values)

desert safari
year 2024
rajasthan jaisalmer
mobile 7745866666

In [37]:
36.#How Do You Check The Presence Of A Key In A Dictionary?
dic = {'a': 100, 'b':200, 'c':300}
 
# check if "b" is none or not.
if dic.get('d') == None:
  print("Not Present")
else:
  print("Present")

Not Present

In [38]:
37.#Write a Python script to print a dictionary where the keys are number between 1 and 15?
d=dict()
for x in range(1,16):
    d[x]=x
print(d)

{1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9, 10: 10, 11: 11, 12: 12, 13: 13, 14: 14, 15: 15}

In [ ]:
38.#Write a Python program to check multiple keys exists in a dictionary
sports = {"geeksforgeeks" : 1, "practice" : 2, "contribute" :3}
print(sports.keys() >= {"geeksforgeeks", "om"})
print(sports.keys()>={"contribute", "practice","geeksforgeeks"})

In [39]:
39.#Write a Python script to merge two Python dictionaries
d1 = {'a': 200, 'b': 400}
d2 = {'x': 500, 'y': 200}
d = d1.copy()
d.update(d2)
print(d)

{'a': 200, 'b': 400, 'x': 500, 'y': 200}

In [40]:

40.#Write a Python program to map two lists into a dictionary?
fruits = ['apple', 'strawberry', 'Banana','watermelon']
price = [55, 78, 110, 60]

fruits_price = zip(fruits, price)

fruits_dict = {}

for key, value in fruits_price:
    if key in fruits_dict:
        pass 
    else:
        fruits_dict[key] = value
        
print(fruits_dict)

{'apple': 55, 'strawberry': 78, 'Banana': 110, 'watermelon': 60}

In [41]:

 '''41. Write a Python program to combine two dictionary adding values for common keys
d1 = {'a': 100, 'b': 200, 'c':300} o d2 = {'a': 300, 'b': 200,’d’:400}
Sample output: Counter ({'a': 400, 'b': 400,’d’: 400, 'c': 300}). '''
def combine_dicts(dict1, dict2):
    dict3 = dict1.copy()
    for i, j in dict2.items():
        if i in dict3:
            dict3[i] += j
        else:
            dict3[i] = j

    return dict3
dict1 = {'a': 10, 'b': 200, 'c': 30}
dict2 = {'b': 5, 'c': 15, 'd': 25}
combined = combine_dicts(dict1, dict2)
print(combined)

{'a': 10, 'b': 205, 'c': 45, 'd': 25}

In [42]:
42.#Write a Python program to print all unique values in a dictionary?
my_dict = {'a': 1, 'b': 2, 'c': 3, 'd': 2,'e':2,'f':4} 
unique_value = set() 
for value in my_dict.values():
  unique_value.add(value)
print(unique_value)

{1, 2, 3, 4}

In [ ]:
43.#Why Do You Use the Zip () Method in Python?
'''
 Ans :- Zip function is used in combined two or more iterable dictionary to one iterable
 dictionary.
'''

In [ ]:

'''44.
Write a Python program to create and display all combinations of letters,
selecting each letter from a different key in a dictionary. 
'''

In [43]:
45.#Write a Python program to find the highest 3 values in a dictionary?
my_dict = {'A': 67, 'B': 23, 'C': 45,
           'D': 56, 'E': 12, 'F': 69}
print("Dictionary with 3 highest values:")
print("Keys: Values")
x=list(my_dict.values())
d=dict()
print(x)

Dictionary with 3 highest values:
Keys: Values

TypeError: 'list' object is not callable

In [44]:
46.#Write a Python program to combine values in python list of dictionaries? 
sample_data = [{'item': 'item1', 'amount': 400}, {'item': 'item2', 'amount': 300},
               {'item': 'item1', 'amount': 750}]

combined_data = {}

for i in sample_data:
    item = i['item']
    amount = i['amount']
    if item in combined_data:
        combined_data[item] += amount
    else:
        combined_data[item] = amount

print(combined_data)

{'item1': 1150, 'item2': 300}

In [45]:

47.#Write a Python program to create a dictionary from a string?
def letter_count_dict(string):
    letter_count = {}
    for letter in string:
        if letter in letter_count:
            letter_count[letter] += 1
        else:
            letter_count[letter] = 1
    return letter_count

sample_string = 'Bhanderi ayush'
result = letter_count_dict(sample_string)
print(result)

{'B': 1, 'h': 2, 'a': 2, 'n': 1, 'd': 1, 'e': 1, 'r': 1, 'i': 1, ' ': 1, 'y': 1, 'u': 1, 's': 1}

In [46]:
48.#Write a Python function to calculate the factorial of a number (anonnegative integer)?
def factorial(n):
    if n < 0:
        print("Factorial is not defined for negative numbers.")
    if n == 0 or n == 1:
        return 1
    else:
        result = 1
        for i in range(2, n + 1):
            result *= i
        return result
num = 5
fact = factorial(num)
print(f"The factorial of {num} is {fact}")

The factorial of 5 is 120

In [47]:
49.#Write a Python function to check whether a number is in a given range?
def range_bet(number, lower, upper):
    return lower <= number <= upper
num = 15
lower = 10
upper = 20
if range_bet(num, lower, upper):
    print(f"{num} is in the range between {lower} and {upper}.")
else:
    print(f"{num} is not in the range between {lower} and {upper}.")

15 is in the range between 10 and 20.

In [48]:

50.#Write a Python function to check whether a number is perfect or not? 
def perfect_number(number):
    if number <= 0:
        return False

    divisors_sum = 0
    for i in range(1, number):
        if number % i == 0:
            divisors_sum += i

    return divisors_sum == number

num = int(input("Enter a number: "))
if perfect_number(num):
    print(num, "is a perfect number.")
else:
    print(num, "is not a perfect number.")

Enter a number: 65
65 is not a perfect number.

In [49]:
51.#Write a Python function that checks whether a passed string is palindrome or not?

def pali(string):
    if(string==string[::-1]):
        return "The string is palindrome."
    else:
        return "The string is  not plalindrome"
string=input("Enter string:-")
print(pali(string))

Enter string:-5
The string is palindrome.

In [ ]:
52.#How Many Basic Types Of Functions Are Available In Python?
'''
 ans: There are two types of function :-
user-defined functions > these types of function are defined by the user to perform
any specific task . ex. func(),etc.
Built-in Functions > These type of function are predefined function.
ex. print() , len(),etc.

In [50]:
53.#How can you pick a random item from a list or tuple?
import random
Tup = (47,4,22,"ahdh","e4y4y",89)
print("The given input tuple: ", Tup)
randomItem = random.choice(Tup)
print("The generated random tuple item = ", randomItem)

The given input tuple:  (47, 4, 22, 'ahdh', 'e4y4y', 89)
The generated random tuple item =  4

In [51]:
54.#How can you pick a random item from a range?
import random
print('Random Numbers from 1 to 20 are:')
x=random.randrange(1,50)
print(x)

Random Numbers from 1 to 20 are:
39

In [52]:

55.#How can you get a random number in python?
import random
print(random.randint(0,9))

1

In [53]:
56.#How will you set the starting value in generating random numbers? 
import random
random_number = random.randint(1, 100)
print(random_number)

90

In [54]:
57.#How will you randomizes the items of a list in place?
import random

l= [77,85,45, 99,65];
random.shuffle(l)
print ("Reshuffled list : ",  l)

random.shuffle(l)
print ("Reshuffled list : ",  l)

Reshuffled list :  [77, 65, 99, 85, 45]
Reshuffled list :  [99, 85, 45, 65, 77]

In [ ]:
58.#Write a Python program to read a random line from a file?
import random
def random_line(fname):
    lines = open(fname).read().splitlines()
    return random.choice(lines)
print(random_line('test.txt'))

In [56]:
59.#Write a Python program to convert degree to radian
# formula:- radians = degrees * (pi / 180)
# degree > radian
d = int(input("Enter degree:- "))
r = d*(3.14/180)
print(r)

Enter degree:- 2
0.03488888888888889

In [57]:
60.#Write a Python program to calculate the area of a trapezoid
# formula :- Area = (1/2) * (a + b) * h
x=int(input("Enter length 1 :-"))
y=int(input("Enter length 2 :-"))
z=int(input("Enter Heigth :-"))
area=0.5*(x+y)*z
print(area)

Enter length 1 :-2
Enter length 2 :-8
Enter Heigth :-4
20.0

In [ ]:
61.#Write a Python program to calculate the area of a parallelogram
# formula:- Area = base * height
base= int(input("Enter value of base :- "))
height= int(input("Enter value of hiegth :-"))
area= base*height
print(area)

In [58]:
62.#Write a Python program to calculate surface volume and area of a cylinder 
# surface :- SA = 2πr**2 + 2πrh   
# volume :- V = πr**2h
# area :-  2 π r h
print('''
                    cylinder
        1. surface
        2. volume
        3. area
''')
user=int(input("Enter any choice to find :-"))
if user==1:
    radius=int(input("Enter radius :-"))
    hieght=int(input("Enter hieght :- "))
    surface=2*3.14*radius**2+2*3.14*radius*hieght
    print("surface of cylinder is :- ",surface)
elif user==2:
    radius=int(input("Enter radius :-"))
    hieght=int(input("Enter hieght :- "))
    volume=3.14*radius**2*hieght
    print("volume of cylinder is :- ",volume)
elif user==3:
    radius=int(input("Enter radius :-"))
    hieght=int(input("Enter hieght :- "))
    area=2*3.14*radius*hieght
    print(" Area of cylinder is :- ",area)

                    cylinder
        1. surface
        2. volume
        3. area

Enter any choice to find :-1
Enter radius :-2
Enter hieght :- 8
surface of cylinder is :-  125.60000000000001

In [59]:
63.#Write a Python program to returns sum of all divisors of a number?
n=int(input('Enter a value: '))
yy=0
for x in range(1, n):
  if n % x ==0:
    yy += x
else:
  print(yy)

Enter a value: 2
1

In [ ]:
64.#Write a Python program to find the maximum and minimum numbers from the specified decimal numbers.
decimal_num= [3.14, 1.618, 2.718, 0.577, 4.669]

maximum_num = max(decimal_num)
minimum_num = min(decimal_num)

print("Maximum number:",maximum_num)
print("Minimum number: ",minimum_num)